table{
	border-collapse:collapse;
    width: max-content;
    background-color: silver;

}
td,th{

    min-width: 2em;
    text-align: center;
}
table tr{
    text-align: center;
}
body{
    top:10%;

}


#cap-n-rev-assu { 
                float:left; 
                width:40%; 
                height:280px;
                padding-left:30px;
				
            } 

#Qua-Bre-Ass{ 
                float:right; 
                width:40%; 
                height:280px;
                padding-left:30px;

}

#total_assumptions_table { 
    display: inline-block;
    width:50%; 
    height:280px; 
    padding-left:30px;
} 

#total_costing_table { 
    display: inline-block;
    width:50%; 
    height:280px;
    padding-left:30px;
} 


.blankrow{
	height: 20px;
}

